body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(226, 43%, 10%);
}

$color-font-span: hsl(236, 100%, 87%);

.dashboard{
    margin: 20px;
    min-width: 200px;
    max-width: calc(810px + 100px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-auto-rows: clamp(10rem, 25vw, 13rem);
    grid-auto-flow: dense;
    gap: 20px;
    &__perfil{
        border-radius: 15px;
        background-color: hsl(235, 46%, 20%);
        grid-row: 1 / 3;
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: hsl(246, 80%, 60%);
            border-radius: 15px;
            padding: 30px;
            height: clamp(2rem, 70%, 25rem);
            img{
                width: 75px;
                height: 75px;
                border-radius: 100%;
                border: solid 3px white;
            }
            &__name{
                margin-bottom: clamp(1rem, 2vw, 3rem);
                span{
                    color: hsl(236, 100%, 87%);
                    font-size: 0.9rem;
                }
                h1{
                    font-size: clamp(1.5rem, 2.2rem, 4vw);
                    line-height: clamp(15px, 6vw, 3rem);
                    font-weight: 300;
                }
            }
        }
        &__date{
            display: inline-block;
            padding: 15px 25px;
            line-height: clamp(1.8rem, 2rem, 2vw);
            color: hsl(236, 100%, 87%);
            p{
                cursor: pointer;
                &:hover{
                    color: #ffffff;
                }
            }
        }
    }
    &__work{
        background-color: hsl(15, 100%, 70%);
        background-image: url(../images/icon-work.svg);
    }
    &__play{
        background-color: hsl(195, 74%, 62%);
        background-image: url(../images/icon-play.svg);
    }
    &__study{
        background-color: hsl(348, 100%, 68%);
        background-image: url(../images/icon-study.svg);
    }
    &__exercise{
        background-color: hsl(145, 58%, 55%);
        background-image: url(../images/icon-exercise.svg);
    }
    &__social{
        background-color: hsl(264, 64%, 52%);
        background-image: url(../images/icon-social.svg);
    }
    &__selfcare{
        background-color: hsl(43, 84%, 65%);
        background-image: url(../images/icon-self-care.svg);
    }
}

.minicard{
    display: flex;
    justify-content: end;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: 100% -5%;
    overflow: hidden;
    &__info{
        background-color: hsl(235, 46%, 20%);
        height: 83%;
        border-radius: 15px;
        padding: 23px;
        transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &__title{
            position: relative;
            display: flex;
            justify-content: space-between;
            i{
                cursor: pointer;
            }
            h2{
                font-weight: 500;
            }
        }
        &__hrs{
            > h2{
                font-size:  clamp(2rem, 6vw, 3.2rem);
                font-weight: 300;
                margin-top: clamp(1.1rem, 3vw, 2.5rem);
            }
            > span{
                display: inline-block;
                margin-top: clamp(0.9rem, 3vw, 1.3rem);
                color: hsl(236, 100%, 87%);
                font-size: 0.8rem;
            }
        }    
        &:hover{
            background-color: hsl(235, 45%, 61%);
        }
    }
}

.menu{
    display: inline-block;
    position: absolute;
    right: 25px;
    bottom: 4px;
    width: 55px;
    background-color: blue;
    border-radius: 3px;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu2{
    width: 0;
    height: 0;
    overflow: hidden;
}

@media (max-width:475px) {
    body{
        pointer-events: none;
    }

    .minicard__info__hrs{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dashboard__perfil{
        grid-row: 1 / 2;
        &__date{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 30px;
        }
    }

    .dashboard__perfil__info{
        flex-direction: row;
        align-items: center;
        &__name{
            margin: 0;
        }
    }
}